
[submodule "Mod/lib/OdysseyHeaders"]
	path = Mod/lib/OdysseyHeaders
	url = https://github.com/MonsterDruide1/OdysseyHeaders
[submodule "Mod/lib/imgui"]
	path = Mod/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "Mod/sys"]
	path = Mod/sys
	url = https://github.com/fruityloops1/LibHakkun
[submodule "Mod/lib/APCpp"]
	path = Mod/lib/APCpp
	url = https://github.com/N00byKing/APCpp
